*,
::after, 
::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    background: linear-gradient(45deg, #27ea85, #559aa2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 2em; 
    min-height: 100vh;
}

.container {
    display: grid;
    width: 600px;
    height: 800px;
    background: linear-gradient(45deg, #f55f0e, #f7f3f5);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 5px 5px;
    margin: 5px 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 4px;
    border-radius: 1em;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    margin: 1em;
}



.grid-item {
    background-color: white;
    /* box-shadow: 0 0 0 1px black inset;  ALTERNATIVE SOLUTION WITHOUT USING MARGIN*/ 
    border: solid 1px gray;
    margin: -1px;
}




