*,
::after, 
::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    background-color: rgb(218, 19, 52);
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}



.grid-item {
    background-color: antiquewhite;
    height: 50px;
    width: 50px;
    border: solid 1px rgb(9, 8, 8);
    
    
}